@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Flowbite */
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme{
    /* Color */
    --color-primary-color: #0090CC;
    --color-secondary-color: #CC0021;
    --color-hover-color: #285F77;
    --color-light-gray: #F0F0F0;
    --color-ghost-white: #F5F5F7;

    /* Font */
    --font-primary: Montserrat, system-ui, sans-serif;

    /* Header */
    --text-size-h1: 48px;
    --leading-h1: 72px;
    --font-weight-h1: 700;

    --text-size-h2: 40px;
    --leading-h2: 60px;
    --font-weight-h2: 700;

    --text-size-h3: 36px;
    --leading-h3: 54px;
    --font-weight-h3: 600;

    --text-size-h4: 32px;
    --leading-h4: 48px;
    --font-weight-h4: 600;

    /* Title */
    --text-size-t1: 24px;
    --leading-t1: 36px;
    --font-weight-t1: 700;

    --text-size-t2: 20px;
    --leading-t2: 30px;
    --font-weight-t2: 500;

    --text-size-t3: 16px;
    --leading-t3: 24px;
    --font-weight-t3: 400;

    --text-size-t4: 14px;
    --leading-t4: 21px;
    --font-weight-t4: 400;

    /* Paragraph */
    --text-size-p1: 16px;
    --leading-p1: 24px;

    --text-size-p2: 14px;
    --leading-p2: 22px;

    --shadow-boxshadow: 0 0 15px 0 rgba(13,39,80, 0.16);
}

.sepadding{
    @apply px-[30px] py-[30px] md:px-[60px] md:py-[40px] lg:px-[100px] xl:px-[120px] xl:py-[60px] 2xl:px-[220px];
}

.intropadding{
    @apply px-[30px] py-[20px] md:px-[60px] md:py-[20px] lg:px-[100px] xl:px-[120px] xl:py-[40px] 2xl:px-[220px];
}

.h1{
    @apply text-size-h1 leading-h1 font-h1;
}
.h2{
    @apply text-size-h2 leading-h2 font-h2;
}
.h3{
    @apply text-size-h3 leading-h3 font-h3;
}
.h4{
    @apply text-size-h4 leading-h4 font-h4;
}
.t1{
    @apply text-size-t1 leading-t1 font-t1;
}
.t2{
    @apply text-size-t2 leading-t2 font-t2;
}
.t3{
    @apply text-size-t3 leading-t3 font-t3;
}
.t4{
    @apply text-size-t4 leading-t4 font-t4;
}
.p1{
    @apply text-size-p1 leading-p1;
}
.p2{
    @apply text-size-p2 leading-p2;
}
